<%- include("../layouts/admin-header.ejs") %>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Add Post</h2>

    <div class="container">
        <form id="addPost">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Title</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="text" name="title" required placeholder="Enter Post Title" class="w-100">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadModal">
                        Upload Image
                    </button>
                    <input type="hidden" name="image" id="image">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h5>Content</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <textarea name="content" rows="5" placeholder="Enter Post Content" class="w-100"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="submit" value="Add Post" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Choose an image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" name="image" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% if(typeof message !== 'undefined') {%>
    <p style="color: green"><%= message %></p>
<%}%>

<script>
    $(document).ready(function(){
        $("#uploadForm").submit(function(event){
            event.preventDefault();

            $.ajax({
                url:"/upload-post-image",
                type:"POST",
                data:new FormData(this),
                contentType:false,
                cache:false,
                processData:false,
                success:function(data){
                    if(data.success === true){
                        $("#image").val(data.path);     // set the value of hidden input image line 24
                        alert(data.msg);
                        $("#uploadModal").modal("hide");
                    }
                    else{
                        alert(data.msg);
                    }
                }
            })
        });
        $("#addPost").submit(function(event){
            
            event.preventDefault();
            let formData = {};

            // get all the value from the form
            $.each($(this).serializeArray(),function(i,field){
                formData[field.name] = field.value;
            });
            // current form object
            const obj = $(this);

            $.ajax({
                url:"/create-post",
                type:"POST",
                data:formData,      // we sending "formdata" to backend
                success:function(data){     // backend send processed "data" to frontend 
                    if(data.success === true){
                        
                        // alert message
                        alert(data.msg);
                       
                        // reset the form & imagepath
                        $(obj)[0].reset();
                        $("#image").val('');

                        // added id to form
                        formData._id = data._id;

                        //emit the task
                        const socket = io();
                        socket.emit("new_post",formData);
                    }
                    else{
                        alert(data.msg);
                    }
                }
            })

        });
    })
</script>

<%- include("../layouts/admin-footer.ejs") %>