<%- include("./layouts/header.ejs")%>
    <div class="container mb-5 mt-5">
        <h2>404 not found!</h2>
        <a href="http://localhost:5001/login">go back</a>
    </div>
<%- include("./layouts/footer.ejs")%>