<%- include("./layouts/header.ejs") %>
    <div>
        <div class="container mb-5 mt-5" >
            <h1>Login</h1>
            <form method="POST">
                <div class="row">
                    <div class="col-sm-20">
                        <input type="email" name="email" placeholder="Enter Email" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-20">
                        <input type="password" name="password" placeholder="Enter Password" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-20">
                        <input type="hidden" name="adminOrNot" value="1">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-20">
                        <input type="submit" class="btn btn-info" value="Login">
                    </div>
                </div>
            </form>
            <a href="/forget-password">Forget password</a>
        </div>
    </div>
    <!-- email or Password not matched message -->
    <%if(typeof message !== 'undefined') { %>
        <p style="color: red;"><%= message%></p>
    <% }%>
    <!-- script -->
<%- include("./layouts/footer.ejs") %>