<%- include("./layouts/header.ejs")%>
    <div class="container mb-5 mt-5">
        <h2>Reset password</h2>
        <form method="POST">

            <input type="password"  name="password" required placeholder="Enter new password">
            <input type="hidden" name="userId" value="<%= userId%>">
            <br><br>
            <input type="submit" value="Reset password" class="btn btn-info">

        </form>
    </div>
<%- include("./layouts/footer.ejs")%>